.banner {
	background-color: #f7fafc;
	background-image: linear-gradient(to top, #4aa8eb 0%, #00eeea 100%);
	color: #fff;

	&__image,
	&__desc {
		width: 50%;
	}

	&__image {
		padding: 120px 0;
	}

	&__title {
		font-family: $font-family--secondary;
		font-size: 54px;
		font-weight: 600;
		line-height: 60px;
		text-transform: uppercase;
		margin: 0;

		strong {
			font-weight: 600;
		}
	}

	&__text {
		font-size: 14px;
		font-weight: 300;
		line-height: 24px;
	}

	&__list {
		padding-left: 0;
		list-style: none;

		li {
			padding-left: 35px;
			background: url(../img/icon-list-item.png) no-repeat;
			background-position: left center;
			font-size: 14px;
			line-height: 24px;
		}
	}

	&__btn {
		display: inline-block;
		vertical-align: middle;
		box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
		border-radius: 20px;
		border: 5px solid rgba(0, 0, 0, 0.1);
		background-color: #ffffff;
		background-clip: padding-box;

		font-size: 14px;
		font-weight: 600;
		line-height: 30px;
		color: #222222;
		text-decoration: none;
		padding: 5px 45px;

		transition: border-color 0.2s linear;

		&:hover {
			border-color: rgba(0, 0, 0, 0.3);
		}
	}
}