.btn {
  display: inline-block;
  vertical-align: top;
  background: $color-main;
  color: $color-secondary;
  text-decoration: none;
  padding: 15px;
  border: none;
  transition: all 0.15s linear;

  &:hover {
    background: $color-main--darken;
  }

  &:active {
    background: $color-main--darkest;
    color: #88b6d1;
  }

  &--disabled {
    background: #e5e5e5;
  }
}
